<a href="{{ bookmark.url }}" class="lead">{{ bookmark.title }}</a>
{% if bookmark.description|linebreaksbr %}
  <br>{{ bookmark.description|linebreaksbr }}
{% endif %}
{% if not bookmark.is_public %}
  <br><span class="label label-warning">private</span>
{% else %}
  <br>
{% endif %}
{% if bookmark.tags.count %}
  {% for tag in bookmark.tags.all %}
      <span class="label label-primary">{{ tag|lower }}</span>&nbsp;
  {% endfor %}
{% endif %}
<br>by <a href="{% url "marcador:marcador_bookmark_user" bookmark.owner.username %}">{{ bookmark.owner.username }}</a>
{{ bookmark.date_created|timesince }} ago
{% if bookmark.owner == user or user.is_superuser %}
  <br><a href="{% url "marcador:marcador_bookmark_edit" bookmark.pk %}"
        class="btn btn-default btn-xs" role="button">Edit bookmark</a>
{% endif %}
