{% extends "./bookmark_list.html" %}
{% load marcador_tags %}

{% block title %}{{ owner.username }}'s bookmarks{% endblock title %}

{% block heading %}
  <h2>
    {{ owner.username }}'s bookmarks
    <small>{{ bookmark.count }} bookmarks is total</small>
  </h2>
{% endblock %}

{% block sidebar %}
  {% tagcloud owner %}
{% endblock sidebar %}
