{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block title %}
  {% if create %}Create{% else %}Edit{% endif %} bookmark
{% endblock title %}

{% block heading %}
  <h2>{% if create %}Create{% else %}Edit{% endif %} bookmark</h2>
{% endblock heading %}

{% block content %}
  {% if create %}
    {% url 'marcador:marcador_bookmark_create' as action_url %}
  {% else %}
    {% url 'marcador:marcador_bookmark_edit' as action_url %}
  {% endif %}

  <form action="{{ action_url }}" method="post" accept-charset="utf-8">
    {{ form|crispy }}
    {% csrf_token %}
    <p><input type="submit" class="btn btn-default" value="Save"></p>
  </form>
{% endblock content %}
