{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block title %}Login{% endblock title %}

{% block toggle_login %}{% endblock toggle_login %}

{% block heading %}
  <h2>Login</h2>
{% endblock heading %}

{% block content %}
  <form action="{% url "site_login" %}" method="post" accept-charset="utf-8">
    {{ form|crispy }}
    {% csrf_token %}
    <input type="hidden" name="next" value="{{ next }}">
    <input type="submit" class="btn btn-default" value="Login">
  </form>
{% endblock content %}
